@charset "UTF-8";
@font-face { 
    font-family: Montserrat-Bold; 
    src: url("fonts/Montserrat-Bold.eot"); 
    src: url("fonts/Montserrat-Bold.eot?#iefix")format("embedded-opentype"), 
	    url("fonts/Montserrat-Bold.woff")format("woff"), 
	    url("fonts/Montserrat-Bold.ttf") format("truetype"); 
}
@font-face { 
    font-family: Rubik-Black; 
    src: url("fonts/Rubik-Black.eot"); 
    src: url("fonts/Rubik-Black.eot?#iefix")format("embedded-opentype"), 
	    url("fonts/Rubik-Black.woff")format("woff"), 
	    url("fonts/Rubik-Black.ttf") format("truetype");
}
@font-face { 
	font-family: Rubik-BlackItalic; 
    src: url("fonts/Rubik-BlackItalic.eot"); 
    src: url("fonts/Rubik-BlackItalic.eot?#iefix")format("embedded-opentype"), 
	    url("fonts/Rubik-BlackItalic.woff")format("woff"), 
	    url("fonts/Rubik-BlackItalic.ttf") format("truetype");
}
@font-face { 
	font-family: Rubik-Bold; 
    src: url("fonts/Rubik-Bold.eot"); 
    src: url("fonts/Rubik-Bold.eot?#iefix")format("embedded-opentype"), 
	    url("fonts/Rubik-Bold.woff")format("woff"), 
	    url("fonts/Rubik-Bold.ttf") format("truetype");  
}
@font-face { 
	font-family: Rubik-BoldItalic; 
    src: url("fonts/Rubik-BoldItalic.eot"); 
    src: url("fonts/Rubik-BoldItalic.eot?#iefix")format("embedded-opentype"), 
	    url("fonts/Rubik-BoldItalic.woff")format("woff"), 
	    url("fonts/Rubik-BoldItalic.ttf") format("truetype");
}
@font-face { 
	font-family: Rubik-Italic; 
    src: url("fonts/Rubik-Italic.eot"); 
    src: url("fonts/Rubik-Italic.eot?#iefix")format("embedded-opentype"), 
	    url("fonts/Rubik-Italic.woff")format("woff"), 
	    url("fonts/Rubik-Italic.ttf") format("truetype");
}
@font-face { 
	font-family: Rubik-Light; 
    src: url("fonts/Rubik-Light.eot"); 
    src: url("fonts/Rubik-Light.eot?#iefix")format("embedded-opentype"), 
	    url("fonts/Rubik-Light.woff")format("woff"), 
	    url("fonts/Rubik-Light.ttf") format("truetype");
}
@font-face { 
	font-family: Rubik-LightItalic; 
    src: url("fonts/Rubik-LightItalic.eot"); 
    src: url("fonts/Rubik-LightItalic.eot?#iefix")format("embedded-opentype"), 
	    url("fonts/Rubik-LightItalic.woff")format("woff"), 
	    url("fonts/Rubik-LightItalic.ttf") format("truetype");
}
@font-face { 
	font-family: Rubik-Medium; 
    src: url("fonts/Rubik-Medium.eot"); 
    src: url("fonts/Rubik-Medium.eot?#iefix")format("embedded-opentype"), 
	    url("fonts/Rubik-Medium.woff")format("woff"), 
	    url("fonts/Rubik-Medium.ttf") format("truetype");
}
@font-face { 
	font-family: Rubik-MediumItalic; 
    src: url("fonts/Rubik-MediumItalic.eot"); 
    src: url("fonts/Rubik-MediumItalic.eot?#iefix")format("embedded-opentype"), 
	    url("fonts/Rubik-MediumItalic.woff")format("woff"), 
	    url("fonts/Rubik-MediumItalic.ttf") format("truetype");
}
@font-face { 
	font-family: Rubik-Regular; 
    src: url("fonts/Rubik-Regular.eot"); 
    src: url("fonts/Rubik-Regular.eot?#iefix")format("embedded-opentype"), 
	    url("fonts/Rubik-Regular.woff")format("woff"), 
	    url("fonts/Rubik-Regular.ttf") format("truetype");
}

/*********** Common ***********/
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, 
.col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, 
.col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, 
.col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, 
.col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto { padding-left: 0; padding-right: 0; }

body { background-image: url('../images/main-bg.png'); overflow-x: hidden; color: #172029; position: relative; line-height: 1; font-family: Rubik-Regular; min-height: 100vh; font-size: 14px; }

p { margin-bottom: 0; font-size: 14px; color: #172029; }

a { color: inherit;  text-decoration: none;} 
  
a:hover { color: inherit; text-decoration: none;}

ul { margin: 0; padding: 0; }

li {list-style: none;}

h1 { font-size: 48px; }

h1, h2, h3, h4, h5 { margin: 0; padding: 0; line-height: 1; }

input { outline: none; }

main { min-height: calc(100vh - 732px); }

/*********** END Common ***********/
header { 
	height: 143px; 
	position: relative; 
}

header .row {
	position: relative;
	height: 143px;
}

header.header-index {
	height: 433px;
}

header.header-index .row {
	height: 433px;
}

header .banner {
	display: none;
}

header.header-index .banner {
	display: block;
	height: 285px;
	width: 100%;
	position: absolute;
	top: 88px;
	background-image: url('../images/banner-bg.png');
	background-size: cover;
}

.banner .device-1 { position: absolute; width: 114px; height: 120px; top: 47px; left: 2px; }

.banner .device-2 { position: absolute; width: 135px; height: 108px; top: 150px; left: 22px; }

.banner .device-3 { position: absolute; width: 170px; height: 154px; top: 20px; left: 135px; z-index: 100; }

.banner .device-4 { position: absolute; width: 120px; height: 116px; top: 146px; left: 236px; }

.banner .device-5 { position: absolute; width: 60px; height: 52px; top: 102px; left: 299px; }

.banner .device-6 { position: absolute; width: 60px; height: 61px; top: 31px; left: 335px; }

.banner .device-7 { position: absolute; width: 151px; height: 128px; top: 112px; left: 359px; }

.banner .device-8 { position: absolute; width: 118px; height: 66px; top: 61px; left: 407px; }

.banner .device-9 { position: absolute; width: 55px; height: 52px; top: 0px; left: 419px; }

.banner .device-10 { position: absolute; width: 61px; height: 72px; top: 19px; left: 483px; }

.banner .device-11 { position: absolute; width: 130px; height: 125px; top: 77px; left: 525px; }

.banner .device-12 { position: absolute; width: 64px; height: 49px; top: 23px; left: 553px; }

.banner .device-13 { position: absolute; width: 50px; height: 55px; top: 23px; left: 628px; }

.banner .device-14 { position: absolute; width: 80px; height: 56px; top: 168px; left: 616px; }

.banner .device-15 { position: absolute; width: 65px; height: 53px; top: 129px; left: 657px; }

.banner .device-16 { position: absolute; width: 65px; height: 66px; top: 30px; left: 667px; }

.banner .device-17 { position: absolute; width: 75px; height: 88px; top: 67px; left: 708px; }

.banner .device-18 { position: absolute; width: 98px; height: 75px; top: 14px; left: 737px; }

.banner .device-19 { position: absolute; width: 96px; height: 99px; top: 120px; left: 734px; }


header .top-header {
	position: absolute;
	top: 10px;
	width: 100%;
	left: 0;
}

header .top-header .logo img {
	width: 237px;
	height: 75px;
}

header .slogan {
	font-family: Rubik-Light;
	font-size: 12px;
	left: 246px;
	top: 25px;
	position: absolute;
	font-weight: 300;
	line-height: 140%;
}

header .phone {
	position: absolute;
	left: 420px;
	top: 21px;
	padding-left: 35px;
	display: flex;
	flex-direction: column;
}

header .phone:before {
	content: url('../images/phone-icon-red.png');
	position: absolute;
	top: 3px;
	left: 0;
	width: 25px;
	height: 25px;
}

header .phone span {
	font-family: Rubik-Medium;
	font-weight: 500;
	font-size: 24px;
	color: #F5171D;
	line-height: 28px;
}

header .phone a {
	font-size: 14px;
	text-decoration: underline;
	color: #0075E9;
	line-height: 17px;
}

header.header-index .phone {
	left: 487px;
}

header .time-work {
	position: absolute;
	left: 674px;
	top: 27px;
	display: flex;
	flex-direction: column;
}

header .time-work span {
	font-size: 12px;
	line-height: 14px;
	color: #172029;
	font-family: Rubik-Light;
	font-weight: 300;
	margin-bottom: 9px;
}

header.header-index .time-work {
	left: auto;
	right: 0;
}

header .mini-display-basket {
	background-image: url('../images/display-cart.png');
	position: absolute;
	right: 0;
	top: 0;
	width: 100px;
	height: 76px;
	padding-top: 23px;
}

header .mini-display-basket .quantity {
	font-family: Rubik-Light;
	font-weight: 300;
	font-size: 12px;
	line-height: 14px;
	padding-left: 40px;
}

header .mini-display-basket .amount {
	font-family: Montserrat-Bold;
	font-size: 12px;
	line-height: 15px;
	color: #3DDF62;
	padding-left: 40px;
}

header .mini-display-basket::before {
	content: '';
	position: absolute;
	top: 27px;
	left: 11px;
	width: 22px;
	height: 20px;
	background-image: url('../images/cart-icon-green.png');
	background-size: 100% 100%;
}

header.header-index .mini-display-basket {
	display: none;
}

nav {
	position: absolute;
	bottom: 0;
	height: 46px;
	width: 100%;
	background: linear-gradient(92.42deg, #0172FF 0%, #03C5FE 100%);
	border-radius: 15px;
}

footer { 
	height: 138px; 
	background-color: #37474F; 
}

.content { 
	width: 1150px; 
	background-color: #ffffff; 
	height: 100vh; 
	margin: 0 auto; 
	box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.3); 
}




/*********** Media Style **********/
@media (min-width: 1920px) {
    body {
	    max-width: 1920px;
	    margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .container { max-width: 1090px; }
}

@media (max-width: 1200px) {
}

@media (max-width: 900px) {
}

@media (max-width: 576px) {
    .container { width: 78%; margin: 0 11%; }
}

@media (max-width: 360px) {
} 
/************ END Media Style ******/