@font-face {
  font-family: RobotoRegular;
  src: url("fonts/RobotoRegular.eot");
  src: url("fonts/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("fonts/RobotoRegular.woff") format("woff"), url("fonts/RobotoRegular.ttf") format("truetype"); }
@font-face {
  font-family: RobotoSlabRegular;
  src: url("fonts/RobotoSlabRegular.eot");
  src: url("fonts/RobotoSlabRegular.eot?#iefix") format("embedded-opentype"), url("fonts/RobotoSlabRegular.woff") format("woff"), url("fonts/RobotoSlabRegular.ttf") format("truetype"); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\0000313}}
body {
  overflow-x: hidden;
  color: #000000;
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\0000319}}
a {
  color: inherit;
  text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\0000323}}
  a:hover {
    text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\0000328}}
.button {
  display: inline-block;
  width: 300px;
  height: 40px;
  text-align: center;
  background-color: #bcc73a;
  border: none;
  color: #000000;
  line-height: 40px;
  border-radius: 30px;
  transition: all 0.5s; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\0000341}}
.arrow-top {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: #bfc942;
  opacity: 0.5;
  z-index: 100;
  bottom: 10%;
  left: 30px;
  border-radius: 50%;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\0000352}}
  .arrow-top img {
    position: absolute;
    top: calc(50% - 11px);
    left: calc(50% - 12px); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\0000357}}
  .arrow-top:hover {
    opacity: 1;
    transition: all 0.4s;
    cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\0000364}}
#toTop {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\0000368}}
header {
  position: relative;
  z-index: 5;
  height: 72px;
  background-color: #ffffff;
  opacity: 0.9;
  text-transform: uppercase;
  overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\0000376}}
  header .logo {
    display: inline-block;
    margin-right: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\0000380}}
  header .description {
    font-family: RobotoSlabRegular;
    font-size: 14px;
    color: #000000;
    margin-right: 28px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\0000386}}
  header .menu {
    height: 72px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\0000388}}
    header .menu a {
      position: relative;
      color: #808080;
      font-size: 13px;
      font-family: RobotoRegular;
      margin: 0 10px;
      display: inline-block;
      height: 72px;
      line-height: 72px;
      transition: all 0.5s; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\0000398}}
      header .menu a:hover {
        color: #c6a239; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003100}}
        header .menu a:hover::after {
          transform: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003104}}
      header .menu a::after {
        content: "";
        position: absolute;
        height: 4px;
        width: 100%;
        left: 0;
        bottom: 0px;
        background-color: #c6a239;
        transition: all 0.5s;
        transform: translateY(100%); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003117}}
  header .number-phone {
    position: relative;
    font-family: RobotoSlabRegular;
    font-size: 24px;
    color: #000000;
    margin-left: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003123}}
    header .number-phone span {
      margin-right: 7px;
      color: #b0b0b0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003127}}
    header .number-phone::before {
      content: url("../images/icon-phone.png");
      position: absolute;
      left: -20px;
      top: 4px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003136}}
section.questions {
  position: relative;
  height: 651px;
  margin-top: -72px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003141}}
  section.questions .bubbles-questions {
    position: relative;
    top: 72px;
    height: 409px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003145}}
    section.questions .bubbles-questions .bubble {
      position: absolute;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.9);
      display: table;
      text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003151}}
      section.questions .bubbles-questions .bubble p {
        font-size: 17px;
        font-family: RobotoSlabRegular;
        padding: 0 24px;
        display: table-cell;
        vertical-align: middle; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003157}}
        section.questions .bubbles-questions .bubble p span {
          color: #c6a239; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003161}}
      section.questions .bubbles-questions .bubble.bubble-1 {
        width: 200px;
        height: 200px;
        top: 15px;
        left: -80px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003166}}
        section.questions .bubbles-questions .bubble.bubble-1::before {
          content: url("../images/bubble-before-1.png");
          position: absolute;
          left: 265px;
          top: 94px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003173}}
      section.questions .bubbles-questions .bubble.bubble-2 {
        width: 180px;
        height: 180px;
        bottom: 15px;
        left: 70px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003178}}
        section.questions .bubbles-questions .bubble.bubble-2::before {
          content: url("../images/bubble-before-2.png");
          position: absolute;
          left: 186px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003184}}
      section.questions .bubbles-questions .bubble.bubble-3 {
        width: 180px;
        height: 180px;
        bottom: 15px;
        left: 405px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003189}}
        section.questions .bubbles-questions .bubble.bubble-3::before {
          content: url("../images/bubble-before-3.png");
          position: absolute;
          top: 38px;
          left: -82px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003196}}
      section.questions .bubbles-questions .bubble.bubble-4 {
        width: 130px;
        height: 130px;
        top: 15px;
        left: 525px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003201}}
        section.questions .bubbles-questions .bubble.bubble-4::before {
          content: url("../images/bubble-before-4.png");
          position: absolute;
          left: -106px;
          top: 63px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003208}}
      section.questions .bubbles-questions .bubble.bubble-5 {
        width: 175px;
        height: 175px;
        top: 167px;
        left: 612px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003213}}
        section.questions .bubbles-questions .bubble.bubble-5::before {
          content: url("../images/bubble-before-5.png");
          position: absolute;
          left: -155px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003219}}
      section.questions .bubbles-questions .bubble.bubble-6 {
        width: 182px;
        height: 182px;
        top: 15px;
        left: 790px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003224}}
        section.questions .bubbles-questions .bubble.bubble-6::before {
          content: url("../images/bubble-before-6.png");
          position: absolute;
          left: -150px;
          top: 90px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003231}}
      section.questions .bubbles-questions .bubble.bubble-7 {
        width: 190px;
        height: 190px;
        bottom: 30px;
        right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003236}}
        section.questions .bubbles-questions .bubble.bubble-7::before {
          content: url("../images/bubble-before-7.png");
          position: absolute;
          top: 70px;
          left: -120px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003245}}
  section.questions .consultation {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    height: 170px;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003253}}
    section.questions .consultation::after {
      content: "";
      box-shadow: 0px -2px 20px rgba(0, 0, 0, 0.9);
      height: 1px;
      width: 100%;
      position: absolute;
      left: 0px;
      bottom: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003262}}
    section.questions .consultation h1 {
      font-size: 30px;
      font-family: RobotoSlabRegular;
      padding-top: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003265}}
      section.questions .consultation h1 span {
        color: #c6a239; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003270}}
    section.questions .consultation h2 {
      font-size: 26px;
      font-family: RobotoSlabRegular;
      margin-bottom: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003274}}
      section.questions .consultation h2 span {
        color: #c6a239; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003278}}
    section.questions .consultation a {
      font-size: 18px;
      color: #231919; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003282}}
      section.questions .consultation a.button:hover {
        background-color: #d7e344;
        color: #231919; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003291}}
section.dignity {
  position: relative;
  background-color: #fbfcf3;
  padding-top: 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003295}}
  section.dignity .scales {
    position: absolute;
    margin: 0 auto;
    top: 30px;
    background-color: #ffffff;
    border-radius: 50px;
    width: 95px;
    height: 95px;
    left: calc(50% - 47px);
    border: 1px solid #f3f3f3; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003305}}
    section.dignity .scales .scales-1 {
      position: absolute;
      left: calc(50% - 12px);
      top: calc(50% - 30px);
      z-index: 10; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003311}}
    section.dignity .scales .scales-2 {
      position: absolute;
      left: calc(50% - 23px);
      z-index: 5;
      top: 7px;
      transform: rotate(-20deg);
      visibility: visible !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003318}}
      section.dignity .scales .scales-2.animated {
        animation: scale2 1s linear 6 forwards; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003322}}
    section.dignity .scales .scales-3 {
      position: absolute;
      top: 25px;
      left: 15px;
      z-index: 10;
      visibility: visible !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003328}}
      section.dignity .scales .scales-3.animated {
        animation: scale3 1s linear 6 forwards; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003333}}
    section.dignity .scales .scales-4 {
      position: absolute;
      top: 13px;
      left: 50px;
      z-index: 10;
      visibility: visible !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003339}}
      section.dignity .scales .scales-4.animated {
        animation: scale4 1s linear 6 forwards; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003344}}
  section.dignity .list-left {
    padding-right: 150px;
    text-align: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003347}}
    section.dignity .list-left h3 {
      position: relative;
      margin-right: -70px;
      padding-bottom: 30px;
      font-family: RobotoSlabRegular;
      font-size: 24px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003353}}
      section.dignity .list-left h3::before {
        content: "";
        width: 150px;
        border-top: 1px solid #bfc942;
        position: absolute;
        top: 28px;
        left: -15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003363}}
  section.dignity .list-right {
    padding-left: 150px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003365}}
    section.dignity .list-right h3 {
      position: relative;
      margin-left: -70px;
      padding-bottom: 30px;
      font-family: RobotoSlabRegular;
      font-size: 24px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003371}}
      section.dignity .list-right h3::after {
        content: "";
        width: 150px;
        border-top: 1px solid #c8a641;
        position: absolute;
        top: 28px;
        right: -15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003381}}
  section.dignity .item {
    margin-bottom: 50px;
    font-size: 16px;
    font-family: RobotoRegular;
    opacity: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003386}}
    section.dignity .item.item-left-1 {
      position: relative;
      animation: fadeLeft 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003389}}
      section.dignity .item.item-left-1::after {
        content: url("../images/item-left-1.png");
        position: absolute;
        top: 5px;
        right: -100px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003396}}
    section.dignity .item.item-left-2 {
      position: relative;
      animation: fadeLeft 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003399}}
      section.dignity .item.item-left-2::after {
        content: url("../images/item-left-2.png");
        position: absolute;
        top: 5px;
        right: -100px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003406}}
    section.dignity .item.item-left-3 {
      position: relative;
      animation: fadeLeft 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003409}}
      section.dignity .item.item-left-3::after {
        content: url("../images/item-left-3.png");
        position: absolute;
        top: 5px;
        right: -100px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003416}}
    section.dignity .item.item-left-4 {
      position: relative;
      animation: fadeLeft 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003419}}
      section.dignity .item.item-left-4::after {
        content: url("../images/item-left-4.png");
        position: absolute;
        top: 5px;
        right: -115px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003426}}
    section.dignity .item.item-left-5 {
      position: relative;
      animation: fadeLeft 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003429}}
      section.dignity .item.item-left-5::after {
        content: url("../images/item-left-5.png");
        position: absolute;
        top: 5px;
        right: -115px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003436}}
    section.dignity .item.item-right-1 {
      position: relative;
      animation: fadeRight 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003439}}
      section.dignity .item.item-right-1::before {
        content: url("../images/item-right-1.png");
        position: absolute;
        top: 5px;
        left: -100px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003446}}
    section.dignity .item.item-right-2 {
      position: relative;
      animation: fadeRight 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003449}}
      section.dignity .item.item-right-2::before {
        content: url("../images/item-right-2.png");
        position: absolute;
        top: 5px;
        left: -100px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003456}}
    section.dignity .item.item-right-3 {
      position: relative;
      animation: fadeRight 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003459}}
      section.dignity .item.item-right-3::before {
        content: url("../images/item-right-3.png");
        position: absolute;
        top: 5px;
        left: -100px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003466}}
    section.dignity .item.item-right-4 {
      position: relative;
      animation: fadeRight 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003469}}
      section.dignity .item.item-right-4::before {
        content: url("../images/item-right-4.png");
        position: absolute;
        top: 5px;
        left: -100px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003476}}
    section.dignity .item.item-right-5 {
      position: relative;
      animation: fadeRight 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003479}}
      section.dignity .item.item-right-5::before {
        content: url("../images/item-right-5.png");
        position: absolute;
        top: 5px;
        left: -100px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003491}}
section.green-band h1 {
  position: relative;
  font-family: RobotoSlabRegular;
  font-size: 30px;
  padding: 30px 200px 20px 200px;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003497}}
  section.green-band h1::before {
    content: "";
    width: 150px;
    border-top: 1px solid #ffffff;
    position: absolute;
    top: 70px;
    left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003505}}
  section.green-band h1::after {
    content: "";
    width: 150px;
    border-top: 1px solid #ffffff;
    position: absolute;
    top: 70px;
    right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003514}}
section.green-band a {
  color: #010101; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003516}}
  section.green-band a.button {
    background-color: #ffffff;
    margin: 0 auto 38px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003519}}
    section.green-band a.button:hover {
      background-color: #ebebeb; }

@keyframes fadeLeft {
  0% {
    opacity: 0;
    left: -400px; }
  100% {
    opacity: 1;
    left: 0; } }
@keyframes fadeRight {
  0% {
    opacity: 0;
    right: -400px; }
  100% {
    opacity: 1;
    right: 0; } }
@keyframes scale2 {
  0% {
    transform: rotate(-20deg); }
  25% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(20deg); }
  75% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-20deg); } }
@keyframes scale3 {
  0% {
    top: 25px; }
  25% {
    top: 20px; }
  50% {
    top: 13px; }
  75% {
    top: 20px; }
  100% {
    top: 25px; } }
@keyframes scale4 {
  0% {
    top: 13px; }
  25% {
    top: 20px; }
  50% {
    top: 25px; }
  75% {
    top: 20px; }
  100% {
    top: 13px; } }
@media (min-width: 1920px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003603}}
  body {
    max-width: 1920px;
    margin: 0 auto;
    position: relative; } }
@media (max-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003611}}
  .bg-image-auto, .bg-image-green {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003613}}
  section.questions {
    height: 700px;
    background-image: url("../images/question-bg.jpg");
    background-size: cover; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003617}}
    section.questions .consultation {
      height: 203px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003619}}
      section.questions .consultation::after {
        bottom: -50px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003625}}
    section.questions .bubbles-questions .bubble.bubble-1 {
      left: -34px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003628}}
    section.questions .bubbles-questions .bubble.bubble-3 {
      left: 330px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003631}}
    section.questions .bubbles-questions .bubble.bubble-4 {
      left: 265px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003634}}
    section.questions .bubbles-questions .bubble.bubble-5 {
      left: 525px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003637}}
    section.questions .bubbles-questions .bubble.bubble-7 {
      right: 30px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003645}}
  section.dignity .list-left h3::before {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003648}}
  section.dignity .list-right h3::after {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003653}}
  section.green-band {
    background-image: url("../images/green-bg.jpg");
    background-size: cover; } }
@media (max-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003660}}
  header {
    height: 105px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003663}}
  section.questions {
    height: 370px;
    margin-top: -105px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003666}}
    section.questions .bubbles-questions {
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003669}}
    section.questions .consultation {
      top: 103px;
      height: 267px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003672}}
      section.questions .consultation::after {
        bottom: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003675}}
      section.questions .consultation h1 {
        font-size: 33px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003681}}
  section.dignity .list-left h3, section.dignity .list-right h3 {
    height: 140px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003684}}
  section.dignity .item-left, section.dignity .item-right {
    margin-left: -20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003688}}
  section.dignity .item.item-right-1, section.dignity .item.item-left-4 {
    margin-bottom: 95px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003691}}
  section.dignity .item.item-right-2 {
    margin-bottom: 70px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003694}}
  section.dignity .item.item-left-3 {
    margin-bottom: 75px; } }
@media (max-width: 576px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003702}}
  header {
    height: 160px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003704}}
    header .menu a {
      margin: 0 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003706}}
      header .menu a::after {
        display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003710}}
    header .logo, header .description {
      margin-top: 10px;
      margin-left: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003714}}
    header .number-phone {
      margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003719}}
  section.questions {
    margin-top: -160px;
    height: 485px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003721}}
    section.questions .consultation {
      top: 159px;
      height: 328px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003724}}
      section.questions .consultation::after {
        bottom: 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003730}}
  section.dignity {
    padding-top: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003732}}
    section.dignity .scales {
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003735}}
    section.dignity .list-left h3 {
      height: 100px;
      text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003739}}
    section.dignity .list-right h3 {
      height: 80px;
      text-align: left;
      margin-left: -130px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003744}}
    section.dignity .item {
      margin-bottom: 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003746}}
      section.dignity .item.item-right-1, section.dignity .item.item-right-2, section.dignity .item.item-right-3, section.dignity .item.item-right-4 {
        margin-bottom: 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003749}}
      section.dignity .item.item-left-1::after, section.dignity .item.item-left-2::after, section.dignity .item.item-left-3::after, section.dignity .item.item-left-4::after, section.dignity .item.item-left-5::after {
        top: calc(50% - 20px); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003752}}
      section.dignity .item.item-right-1::before, section.dignity .item.item-right-2::before, section.dignity .item.item-right-3::before, section.dignity .item.item-right-4::before, section.dignity .item.item-right-5::before {
        top: calc(50% - 20px); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003755}}
      section.dignity .item.item-right-1, section.dignity .item.item-left-4 {
        margin-bottom: 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003758}}
      section.dignity .item.item-right-2 {
        margin-bottom: 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003761}}
      section.dignity .item.item-left-3 {
        margin-bottom: 25px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003768}}
  section.green-band h1 {
    padding: 20px 5px 0 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003770}}
    section.green-band h1::before, section.green-band h1::after {
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003774}}
  section.green-band a.button {
    margin-top: 15px; } }
@media (max-width: 360px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003781}}
  header {
    height: 235px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003783}}
    header .menu {
      margin: 0 auto;
      text-align: center;
      padding-top: 6px;
      height: 135px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003788}}
      header .menu a {
        display: block;
        height: 29px;
        font-size: 16px;
        line-height: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003795}}
    header .number-phone {
      display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003800}}
  section.questions {
    height: 580px;
    margin-top: -231px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003803}}
    section.questions .consultation {
      height: 350px;
      top: 230px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003806}}
      section.questions .consultation::after {
        bottom: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003809}}
      section.questions .consultation h1 {
        font-size: 27px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003816}}
  section.dignity .list-left {
    padding-right: 90px;
    text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003819}}
    section.dignity .list-left h3 {
      font-size: 22px;
      height: 65px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003824}}
  section.dignity .list-right {
    padding-right: 90px;
    text-align: left;
    padding-left: 33px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003828}}
    section.dignity .list-right h3 {
      font-size: 22px;
      margin-left: -21px;
      height: 120px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003834}}
  section.dignity .item-left {
    margin-left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003838}}
  section.dignity .item.item-left-1::after, section.dignity .item.item-left-2::after, section.dignity .item.item-left-3::after, section.dignity .item.item-left-4::after, section.dignity .item.item-left-5::after {
    right: -75px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003843}}
  section.dignity .item.item-right-1::before, section.dignity .item.item-right-2::before, section.dignity .item.item-right-3::before, section.dignity .item.item-right-4::before, section.dignity .item.item-right-5::before {
    left: 250px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003848}}
  section.dignity .item.item-right-1, section.dignity .item.item-left-4 {
    margin-bottom: 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003851}}
  section.dignity .item.item-right-2 {
    margin-bottom: 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003854}}
  section.dignity .item.item-left-3 {
    margin-bottom: 25px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ekaterina\/Desktop\/Sotnikov\/css\/style\.scss}line{font-family:\00003860}}
  section.green-band h1 {
    font-size: 27px; } }

/*# sourceMappingURL=style.css.map */
