@charset "UTF-8";
@font-face { 
    font-family: CeraPro-Medium; 
    src: url("fonts/CeraPro-Medium.eot"); 
    src: url("fonts/CeraPro-Medium.eot?#iefix")format("embedded-opentype"), 
	    url("fonts/CeraPro-Medium.woff")format("woff"), 
	    url("fonts/CeraPro-Medium.ttf") format("truetype"); 
}
@font-face { 
    font-family: CeraPro-Regular; 
    src: url("fonts/CeraPro-Regular.eot"); 
    src: url("fonts/CeraPro-Regular.eot?#iefix")format("embedded-opentype"), 
        url("fonts/CeraPro-Regular.woff")format("woff"), 
        url("fonts/CeraPro-Regular.ttf") format("truetype"); 
}
@font-face { 
    font-family: CeraPro-Bold; 
    src: url("fonts/CeraPro-Bold.eot"); 
    src: url("fonts/CeraPro-Bold.eot?#iefix")format("embedded-opentype"), 
        url("fonts/CeraPro-Bold.woff")format("woff"), 
        url("fonts/CeraPro-Bold.ttf") format("truetype"); 
}
@font-face { 
    font-family: CeraPro-Light; 
    src: url("fonts/CeraPro-Light.eot"); 
    src: url("fonts/CeraPro-Light.eot?#iefix")format("embedded-opentype"), 
        url("fonts/CeraPro-Light.woff")format("woff"), 
        url("fonts/CeraPro-Light.ttf") format("truetype"); 
}
/*********** Common ***********/
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, 
.col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, 
.col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, 
.col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, 
.col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto { padding-left: 0; padding-right: 0; }

body { overflow-x: hidden; color: #000000; position: relative; line-height: 1; font-family: CeraPro-Medium; min-height: 100vh; font-size: 15px; }

p { margin-bottom: 0; font-size: 15px; color: #000000; }

a { color: inherit;  text-decoration: none;} 
  
a:hover { color: inherit; text-decoration: none;}

ul { margin: 0; padding: 0; }

li {list-style: none;}

h1 { font-size: 48px; }

h1, h2, h3, h4, h5 { margin: 0; padding: 0; line-height: 1; }

input { outline: none; }

main { min-height: calc(100vh - 732px); }

/*********** END Common ***********/

header {
    height: 194px;
    display: flex;
}

.header-main-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.logo {
    display: flex;
    width: 260px;
}

.text-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
}

.text-logo span:first-child {
    font-family: Times New Roman;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #0F3D77;
}

.text-logo span:last-child {
    font-size: 10px;
    line-height: 11px;
    color: #A0A0A0;
}

.phone {
    height: 100%;
    padding-left: 25px;
    font-size: 17px;
    justify-content: space-around;     
    color: #2A2A2A;
    display: flex;
    flex-direction: column;
    background-image: url('../images/telephone.png');
    background-repeat: no-repeat;
    background-position: 0 50%;
}

.address {
    height: 100%;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    background-image: url('../images/place.png');
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: CeraPro-Regular;
}

.address span:first-child {
    font-size: 15px;
    line-height: 28px;
    color: #37BCF7;
}

.address span:last-child {
    font-size: 15px;
    line-height: 28px;
    color: #2A2A2A;
}

.email {
    height: 100%;
    padding-left: 35px;
    display: flex;
    align-items: center;
    background-image: url('../images/address.png');
    background-repeat: no-repeat;
    background-position: 0 57%;
    font-family: CeraPro-Regular;
}

.item-menu {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8F8F8;
    font-size: 17px;
    cursor: pointer;
    font-family: CeraPro-Regular;
}

.item-menu.active {
    color: #09A2E6;
}

.menu {
    justify-content: space-between;
    margin-top: 28px;
    position: relative;
}

.item-menu-1 {
    width: 189px;
}

.item-menu-2 {
    width: 222px;
}

.item-menu-3 {
    width: 270px;
}

.item-menu-4 {
    width: 169px;
}

.item-menu-5 {
    width: 175px;
}

.item-menu-3:hover, .item-menu-4:hover, .item-menu-5:hover {
    background-color: #09A2E6;
    color: #ffffff;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f8f8f8;
    width: 420px;
    z-index: 1;
    padding: 40px 0 0 61px;
    /*transition: all 0.2s;*/
    top: 61px;
}

.item-menu-1 .dropbtn {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8F8F8;
    font-size: 17px;
    cursor: pointer;
    width: 189px;
    border: none;
    /*transition: all 0.2s;*/
}

.item-menu-2 .dropbtn {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8F8F8;
    font-size: 17px;
    cursor: pointer;
    width: 222px;
    border: none;
    /*transition: all 0.2s;*/
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    font-family: CeraPro-Regular;
    font-size: 17px;
    line-height: 24px;
    padding-bottom: 35px;
    transition: all 0.2s;
}

.dropdown-content a:hover {
    color: #09A2E6;    
}

.wrap-for-hover-1:hover .dropbtn, .wrap-for-hover-2:hover .dropbtn {
    height: 61px;
    padding-bottom: 7px;
    background-color: #09A2E6;
    color: #ffffff;
}

.wrap-for-hover-1:hover .item-menu-1-content {
    display: block !important;
}

.wrap-for-hover-2:hover .item-menu-2-content {
    display: block !important;
    left: 195px;
}

.wrap-for-hover-1 button::after {
    content: url('../images/arrow-black-bottom.png');
    position: absolute;
    width: 13px;
    height: 7px;
    line-height: 0;
    left: 140px;
    top: 26px;
}

.wrap-for-hover-1:hover button::after {
    content: url('../images/arrow-white-bottom.png');
}

.wrap-for-hover-2 button::after {
    content: url('../images/arrow-black-bottom.png');
    position: absolute;
    width: 13px;
    height: 7px;
    line-height: 0;
    left: 173px;
    top: 26px;
}

.wrap-for-hover-2:hover button::after {
    content: url('../images/arrow-white-bottom.png');
}

.search {
	height: 44px;
	width: 82px;
}

.search form {
	position: relative;
}

.search-field {
	width: 82px;
	height: 44px;
	position: relative;
	color: #37BCF7;
	font-size: 17px;
	font-family: CeraPro-Regular;
	padding-left: 31px;
	border: none;
	/*transition: all 0.3s;*/
}

.search-field:focus {
	position: absolute;
	width: 574px;
	z-index: 100;
	right: 0;
	padding-left: 65px;
}

.search-button {
	position: absolute;
	top: 11px;
	left: 0;
	background: url(../images/blue-loop.png) no-repeat 0px 0px;
    width: 22px;
    height: 23px;
    border: none;
    cursor: pointer;
    z-index: 4;
    /*transition: all 0.3s;*/
    font-size: 0;
}

.search-field:focus + .search-button {
	left: -470px;
	z-index: 150;
}

.search-field::-webkit-input-placeholder { color: #37BCF7; }
.search-field::-moz-placeholder { color: #37BCF7; }
.search-field:-moz-placeholder{ color: #37BCF7; }
.search-field:-ms-input-placeholder { color: #37BCF7; }

.banner {
    background-image: url('../images/banner.jpg');
    height: 462px;
    background-size: 100% 100%;
    position: relative;
}

.banner::before {
    content: url('../images/atom-banner.png');
    position: absolute;
    top: calc(50% - 145px);
    right: 13%;
}

.banner h1 {
    font-size: 30px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 90px;
    line-height: 45px;
}

.banner a {
    font-size: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-bottom: 1px solid #ffffff;
    width: max-content;
    line-height: 21px;
    margin-bottom: 14px;
    padding-bottom: 4px;
    transition: all 0.3s;
    font-family: CeraPro-Regular;
}

.banner a:hover {
    border-bottom: 1px solid transparent;
}

.banner-links {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}

.banner .row {
    display: flex;
    flex-direction: column;
}

.about-company {
    background-image: url('../images/about-company-factory.png');
    background-color: #244F93;
    background-repeat: no-repeat;
    padding-top: 65px;
    padding-bottom: 25px;
    background-position: 0 100%;
    background-size: 100% 50%;
}

.about-company .row {
    flex-direction: column;
    align-items: center;
}

.about-company .number-item {
    font-family: CeraPro-Bold;
    font-size: 48px;
    color: #09A2E6;
    margin-bottom: 18px;
}

.about-company h2 {
    font-size: 30px;
    color: #FFFFFF;
}

.caption-underline {
    border: 1.5px solid #37BCF7;
    width: 59px;
    margin-top: 34px;
    margin-bottom: 10px;
}

.about-company .content-about {
    display: flex;
    margin-top: 40px;
    width: 100%;
    justify-content: space-between;
}

.about-company .text-about {
    width: 500px;
}

.about-company .text-about p {
    font-family: CeraPro-Regular;
    font-size: 15px;
    line-height: 19px;
    text-align: justify;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.about-company .text-about a.read-more {
    font-size: 17px;
    color: #FFFFFF;
    border-bottom: 1.5px dashed #ffffff;
    padding-bottom: 6px;
    margin-bottom: 5px;
    text-align: right;
    float: right;
    transition: all 0.3s;
}

.about-company .text-about a.read-more:hover {
    border-bottom: 1.5px dashed transparent;
}

.geography {
    padding-top: 65px;
    padding-bottom: 100px;
}

.geography .row {
    flex-direction: column;
    align-items: center;
}

.geography .number-item {
    font-family: CeraPro-Bold;
    font-size: 48px;
    color: #09A2E6;
    margin-bottom: 18px;
}

.geography h2 {
    font-size: 30px;
    color: #2A2A2A;
}

.map-block {
    width: 100%;
    margin-top: 10px;
    position: relative;
    height: 689px;
}

.map-block img {
    position: absolute;
    left: -80px;
    top: -48px;
}

.geography .caption-underline {
    z-index: 20;
}

.cooperation {
    width: 312px;
    height: 211px;
    background: rgba(0, 0, 0, 0.4);
    filter: blur();
    z-index: 20;
    margin-top: 60px;
    padding: 20px;
}

.cooperation span:nth-child(1) {
    color: #37BCF7;
    font-size: 64px;
    display: block;
    margin-bottom: 8px;
}

.cooperation span:nth-child(2) {
    color: #FFFFFF;
    font-size: 18px;
    display: block;
    font-family: CeraPro-Regular;
    margin-bottom: 10px;
}

.cooperation span:nth-child(3) {
    color: #FFFFFF;
    font-size: 30px;
    display: block;
    font-family: CeraPro-Regular;
    line-height: 1.1;
}

.diploms {
    background-color: #244F93;
    height: 290px;
    margin-bottom: 65px;
}

.diploms .wrap-slider {
    position: relative;
    width: 65%;
    margin: 30px auto 0;
    height: 260px;
}

.diploms a {
    display: flex !important;
    justify-content: center;
    opacity: 0.5;
    height: 200px;
}

.diploms a.slick-center {
    opacity: 1;
    position: relative;
}

.diploms .wrap-slider::after {
    content: url(../images/diplom-ellipse.png);
    position: absolute;
    bottom: 10px;
    display: block;
    width: 152px;
    height: 22px;
    z-index: 500;
    left: calc(50% - 73px);
}

.diploms a img {
    border: 11px solid gold;
    border-image-source: url(../images/diplom-frame.png);
    border-image-slice: 13;
    border-image-repeat: round;
}

.diploms a.slick-center::after {
    content: url(../images/diplom-loop.png);
    position: absolute;
    top: 75px;
    width: 38px;
    height: 40px;
    left: calc(50% - 19px);
}

.diploms .wrap-slider .prevArrow{
  position: absolute;
  left: 218px;
  top: 88px;
  z-index: 200;
  cursor: pointer;
  background-image: url('../images/prev-arrow.png');
  width: 21px;
  height: 16px;
}

.diploms .wrap-slider .nextArrow{
  position: absolute;
  left: 443px;
  top: 88px;
  z-index: 200;
  cursor: pointer;
  background-image: url('../images/next-arrow.png');
  width: 21px;
  height: 16px;
}

.diploms .pagination-text {
    position: absolute;
    display: flex;
    top: -60px;
    left: calc(50% - 18px);
    justify-content: center;
}

.diploms .pagination-text ul.slick-dots li {
    opacity: 0;
    position: absolute;
    pointer-events: none;
    font-size: 16px;
    width: 100%;
    left: 0px;
    margin: 0;
}

.diploms ul.slick-dots li.slick-active {
    opacity: 1;
    transition: all 0.5s;
    width: inherit;
    height: inherit;
}

.diploms .pagination-text ul.slick-dots {
    width: max-content;
}

.diploms .pagination-text ul.slick-dots li .current-page {
    color: #09A2E6;
}

.news {
    background-image: url('../images/background-news.png');
    background-position-y: 100%;
    background-repeat: no-repeat;
    padding-bottom: 70px;
    background-size: 100%;
}

.news .number-item {
    font-family: CeraPro-Bold;
    font-size: 48px;
    color: #09A2E6;
    margin-bottom: 18px;
}

.news h2 {
    font-size: 30px;
    color: #2A2A2A;
}

.news .row {
    align-items: center;
    flex-direction: column;
}

.news .caption-underline {
    margin-bottom: 60px;
}

.three-news {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.one-new {
    width: 31.5%;
    background-color: #ffffff;
    box-shadow: -2px 15px 35px rgba(48, 82, 97, 0.14);
}

.one-new .date {
    height: 40px;
    width: 100%;
    background-color: #09A2E6;
    color: #FFFFFF;
    font-family: CeraPro-Regular;
    padding-top: 12px;
    padding-left: 20px;
    font-size: 15px;
}

.one-new .img-new {
    height: 223px;
    width: 330px;
}

.one-new .img-new img {
    height: 100%;
    width: auto;
}

.one-new .title-new {
    padding: 22px 20px 25px 20px;
    font-size: 17px;
    line-height: 24px;
    color: #2A2A2A;
}

.one-new .text-new {
    padding: 0px 20px 25px 20px;
    font-size: 15px;
    line-height: 23px;
    color: #666666;
}

.one-new .link-new {
    color: #09A2E6;
    font-size: 15px;
    font-family: CeraPro-Regular;
    width: 100%;
    padding: 16px 20px 16px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid #09A2E6;
}

.one-new .link-new img {
    margin-left: 10px;
    margin-top: 2px;
}

.catalog {
    margin-top: 65px;
}

.catalog .number-item {
    font-family: CeraPro-Bold;
    font-size: 48px;
    color: #09A2E6;
    margin-bottom: 18px;
}

.catalog .row {
    flex-direction: column;
    align-items: center;
}

.cat-group {
    width: 510px;
    height: 226px;
    position: relative;
}

.cat-group img {
    width: 100%;
    height: 100%;
}

.cat-group:hover img:first-child {
    opacity: 0.3;
}

.cat-group:hover .in-cat-item span {
    color: rgba(42, 42, 42, 0.7);
}

.cat-group:hover .in-cat-item p {
    color: rgba(42, 42, 42, 0.7);
}

.title-catalog {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 49px;
}

.cat-group .in-cat-item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}

.cat-group.active .in-cat-item span {
    position: absolute;
    top: 44px;
    left: 40px;
    font-family: CeraPro-Regular;
    font-size: 17px;
    color: #ffffff;
}

.cat-group.active .in-cat-item p {
    position: absolute;
    top: 66px;
    left: 40px;
    font-size: 30px;
    color: #ffffff;
    line-height: 1.2;
}

.cat-group .in-cat-item span {
    color: rgba(42, 42, 42, 0.5);
    position: absolute;
    top: 44px;
    left: 40px;
    font-family: CeraPro-Regular;
    font-size: 17px;
}

.cat-group .in-cat-item p {
    color: rgba(42, 42, 42, 0.5);
    position: absolute;
    top: 66px;
    left: 40px;
    font-size: 30px;
    line-height: 1.2;
}

.cat-group img:first-child {
    opacity: 0.1;
}

.cat-group.active img:first-child {
    opacity: 1;
}

.cat-group .in-cat-item hr {
    position: absolute;
    height: 1px;
    width: 84.315%;
    background-color: #37BCF7;
    top: 158px;
    border: none;
    left: 40px;
    margin: 0;
}

.cat-group .in-cat-item a {
    position: absolute;
    width: 20px;
    height: 14px;
    top: 92px;
    right: 40px;
    opacity: 1 !important;
}

.cat-group .white-block {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
}

.cat-group-1.active .white-block {
    position: absolute;
    width: 43px;
    height: 27px;
    background-color: #ffffff;
    bottom: -27px;
    left: 46%;
}


.cat-group-1 .white-block {
    position: absolute;
    width: 43px;
    height: 27px;
    background-color: #ffffff;
    bottom: 0;
    left: 46%;
}

.cat-group-2.active .white-block {
    position: absolute;
    width: 43px;
    height: 27px;
    background-color: #ffffff;
    bottom: -28px;
    left: 46%;
}

.cat-group-2 .white-block {
    position: absolute;
    width: 43px;
    height: 27px;
    background-color: #ffffff;
    bottom: -1px;
    left: 46%;
}

.content-cat-group-1, .content-cat-group-2 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-bottom: 40px;
}

.content-cat-group-2 {
    display: none;
}

.one-item-cat {
    display: flex;
    font-family: CeraPro-Regular;
    font-size: 15px;
    line-height: 21px;
    color: #000000;
    align-items: center;
    margin-bottom: 40px;
    transition: all 0.2s;
    width: 33%;
}

.one-item-cat .img-one-item-cat {
    width: 18%;
    display: flex;
    /*justify-content: center;*/
}

.one-item-cat span {
    width: 82%;
    padding-right: 21px;
}

.one-item-cat:hover {
    color: #09A2E6;
}

.dropdown {
    position: relative;
    display: inline-block;
}

footer {
    background-color: #002E77;
    padding: 60px 0 30px;
    color: #ffffff;
}

footer .row {
    flex-direction: column;
}

footer .top-footer, footer .bottom-footer {
    display: flex;
    justify-content: space-between;
}

footer .top-footer {
    padding-bottom: 20px;
}

footer .bottom-footer {
    border-top: 0.75px solid #FFFFFF;
    padding-top: 15px;
}

footer .text-logo span:first-child {
    color: #ffffff;
}

footer .text-logo span:last-child {
    color: #A0A0A0;
}

footer .left-footer {
    width: 34.3%;
}

footer .middle-footer {
    width: 42.9%;
}

footer .right-footer {
    width: 22.8%;
}

footer .bottom-footer .left-footer {
    font-family: CeraPro-Regular;
    text-transform: uppercase;
    font-size: 13px;
}

footer .bottom-footer .middle-footer {
    font-family: CeraPro-Regular;
    font-size: 11px;
    color: #C4C4C4;
}

footer .bottom-footer .middle-footer a:hover {
    text-decoration: underline;
}

footer .bottom-footer .right-footer span {
    font-family: CeraPro-Regular;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    display: block;
    line-height: 15px;
}

footer .bottom-footer .right-footer a {
    font-family: CeraPro-Regular;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    display: block;
    color: #E4473A;
    line-height: 15px;
}

footer .bottom-footer .right-footer a:hover {
    text-decoration: underline;
}

footer .top-footer .middle-footer {
    display: flex;
}

footer .top-footer .middle-footer .footer-menu {
    display: flex;
    flex-direction: column;
}

footer .top-footer .middle-footer .footer-menu a {
    font-size: 13px;
    line-height: 29px;
    font-family: CeraPro-Regular;
}

footer .top-footer .middle-footer .footer-menu a:hover {
    text-decoration: underline;
}

footer .address-email {
    display: flex;
    flex-direction: column;
    margin-left: 36px;
}

footer .address span:first-child, footer .address span:nth-child(2) {
    font-size: 13px;
    line-height: 25px;
    font-family: CeraPro-Regular;
    color: #FFFFFF;
}

footer .address {
    height: auto;
    padding-left: 35px;
}

footer .email {
    height: auto;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 10px;
}

footer .phone {
    height: auto;
    color: #ffffff;
    font-family: CeraPro-Regular;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
    padding-left: 30px;
}

.breadcrumbs {
    border-top: 1.5px solid #09A2E6;
    padding-top: 30px;
    padding-bottom: 25px;
}

.breadcrumbs a {
    font-size: 13px;
    font-family: CeraPro-Light;
    color: #2a2a2a;
    position: relative;
    margin-right: 38px;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.breadcrumbs a.active {
    color: #09A2E6;
    pointer-events: none;
}

.breadcrumbs a::after {
    position: absolute;
    content: url('../images/arrow-breadcrumbs.png');
    right: -24px;
    pointer-events: none;
    cursor: default;
    top: -1px;
}

.breadcrumbs a.active::after {
    content: '';
}

h1.title-page {
    font-size: 30px;
}

.page-news .one-new {
    margin-bottom: 30px;
}

.page-news.news {
    background-image: none;
}

.pagination-news {
    width: 100%;
    margin-top: 50px;
}

.pagination-news .pagination-list {
    display: flex;
    justify-content: center;
}

.pagination-news .pagination-list li {
    margin-right: 4px;
}

.pagination-news .pagination-list a {
    font-size: 30px;
    font-family: CeraPro-Regular;
    width: 45px;
    display: block;
    text-align: center;
    transition: all 0.3s;
}

.pagination-news .pagination-list a:hover {
    color: #09A2E6;
}

.pagination-news .pagination-list li.active a {
    color: #09A2E6;
}

.pagination-news .pagination-list li a.pag-prev {
    background-image: url(../images/prev-arrow-black.png);
    width: 21px;
    height: 16px;
    margin-right: 20px;
    margin-top: 9px;
}

.pagination-news .pagination-list li a.pag-next {
    background-image: url(../images/next-arrow-black.png);
    width: 21px;
    height: 16px;
    margin-left: 20px;
    margin-top: 9px;
}

.page-geography {
    padding-top: 0;
}

.page-geography .map-gs {
    margin-top: 50px;
    margin-bottom: 80px;
    width: 100%;
}

.contractors {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 45px;
}

.address-contr {
    width: 33%;
    font-size: 15px;
    font-family: CeraPro-Regular;
    padding-left: 35px;
    position: relative;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    padding-right: 15px;
    background-image: url('../images/black-place.png');
    background-repeat: no-repeat;
    background-position-y: 50%;
    min-height: 26px;
}

.page-catalog {
    margin-top: 0px;
    margin-bottom: 85px;
}

.page-catalog h1 {
    font-size: 30px;
}

p.text {
    font-family: CeraPro-Regular;
    font-size: 15px;
    line-height: 23px;
    text-align: justify;
}

.page-section-catalog .cat-group {
    width: 100%;
    height: 200px;
}

.page-section-catalog {
    margin-bottom: 60px;
}

.page-section-catalog .cat-group.active .in-cat-item {
    cursor: default;
}

.page-section-catalog .cat-group.active .in-cat-item span {
    top: 60px;
}

.page-section-catalog .cat-group.active .in-cat-item p {
    top: 80px;
}

.page-section-catalog .one-item-cat {
    transition: none;
    position: relative;
    width: 50%;
    margin-bottom: 60px;
}

.page-section-catalog .one-item-cat::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 1px;
    left: calc(50% - 50px);
    bottom: -26px;
    background-color: #37BCF7;
}

.page-section-catalog .one-item-cat:nth-last-child(-n+2)::after {
    display: none;
}

.page-section-catalog .one-item-cat .img-one-item-cat {
    width: 17.176%;
    justify-content: flex-start;
}

.page-section-catalog .one-item-cat span {
    width: 83%;
    padding-right: 80px;
    position: relative;
    font-size: 17px;
}

.page-section-catalog .one-item-cat::before {
    content: url(../images/black-section-arrow.png);
    position: absolute;
    width: 11px;
    height: 4px;
    right: 42px;
    top: 50%;
    line-height: 0;
    font-size: 0;
}

.page-section-catalog .one-item-cat:hover::before {
    content: url('../images/blue-section-arrow.png');
}

.page-doc .docs-list, .page-about .links-about {
    display: flex;
    flex-wrap: wrap;
    margin-top: 75px;
    margin-bottom: 70px;
    width: 100%;
}

.page-doc .one-doc, .page-about .one-link {
    width: 50%;
    font-family: CeraPro-Regular;
    font-size: 15px;
    color: #09A2E6;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.page-about .one-link {
    width: 100%;
}

.page-doc .one-doc a:hover, .page-about .one-link a:hover {
    text-decoration: underline;
}

.page-doc .one-doc a, .page-about .one-link a {
    padding-left: 14px;
    font-size: 15px;
}

.page-doc .one-doc img, .page-about .one-linkimg  {
    margin-top: 5px;
}

.page-doc h1, .page-contacts h1, .page-about h1 {
    font-size: 30px;
}

.page-doc .row, .page-contacts .row, .page-about .row {
    flex-direction: column;
    align-items: center;
}

.page-doc hr, .page-about hr {
    margin-bottom: 45px;
}

.page-contacts .contacts {
    margin: 35px auto 95px;
    width: 44%;
}

.page-contacts .contacts .one-contact {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.page-contacts .contacts .one-contact .name-contact {
    width: 30%;
    color: #2A2A2A;
    font-size: 17px;
}

.page-contacts .contacts .one-contact .content-contact {
    width: 70%;
    font-size: 15px;
    color: #2A2A2A;
    font-family: CeraPro-Regular;
    line-height: 25px;
}

.page-contacts .contacts .one-contact.soc img {
    margin-right: 18px;
}

.button-for-popup {
    width: 240px;
    height: 55px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #09A2E6;
    margin-top: 40px;
}

.button-for-popup span {
    font-family: CeraPro-Regular;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
}

.button-for-popup img {
    margin-left: 15px;
    margin-top: 2px;
}

.page-new .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
}

.page-new .left-new {
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 360px;
}

.page-new .right-new {
    display: flex;
    flex-direction: column;
}

/*.pic-new {
    width: 420px;
}*/

.pic-new img {
    padding-right: 30px;
    max-width: 420px;
}

.page-new h1 {
    font-size: 30px;
    line-height: 38px;
    color: #09A2E6;
    margin-bottom: 25px;
    margin-top: -9px;
}

.page-new .content-new {
    font-size: 15px;
    line-height: 23px;
    color: #666666;
    font-family: CeraPro-Regular;
    margin-bottom: 18px;
}

.page-new .date-new {
    font-size: 15px;
    line-height: 23px;
    color: #09A2E6;
    font-family: CeraPro-Regular;
}

.page-new .button-back {
    font-size: 17px;
    line-height: 21px;
    color: #2A2A2A;
    display: flex;
    align-items: center;
    font-family: CeraPro-Regular;
}

.page-new .button-back img {
    margin-right: 30px;
}

.page-new .button-back:hover {
    text-decoration: underline;
}

.title-department {
    font-weight: 500;
    font-size: 17px;
    color: #09A2E6;
    width: 100%;
    margin-bottom: 20px;
}

.department .worker {
    color: #2A2A2A;
    font-weight: 500;
    font-size: 15px;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.department .worker span {
    margin-bottom: 15px;
}

.department {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 45px;
}

.page-about.diploms {
    margin-top: 15px;
}

.warranty-service p {
    width: 100%;
    font-size: 15px;
    text-align: justify;
    font-family: CeraPro-Regular;
    line-height: 19px;
    margin-bottom: 15px;
    padding: 0 90px;
}

.page-about.warranty-service {
    margin-bottom: 60px;
}

.page-about.diploms .pagination-text {
    display: none;
}

.image-production {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.one-image-production {
    width: 330px;
    height: 223px;
    margin-bottom: 30px;
}

.one-image-production img {
    width: 100%;
}

.video-production {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
}

.one-video-production {
    position: relative;
    width: 330px;
    height: 223px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    pointer-events: none;
}

.one-video-production::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 330px;
    height: 223px;
    background: rgba(40, 37, 69, 0.5);
    pointer-events: all;
}

.one-video-production::after {
    content: url('../images/video-play.png');
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    width: 30px;
    height: 30px;
    cursor: pointer;
    pointer-events: all;
}

.one-video-production * {
    width: 100%;
    height: 100%;
}

.one-video-production.play::before {
    display: none;
}

.one-video-production.play::after {
    display: none;
}

.one-video-production.play {
    pointer-events: all;
}

.top-desc-good {
    display: flex;
    justify-content: space-between;
}

.page-good .left-good {
    width: 34%;
}

.page-good .right-good {
    width: 65%;
}

.page-good h1 {
    font-size: 30px;
    color: #09A2E6;
    margin-bottom: 25px;
}

.page-good .button-for-popup {
    margin-top: 0;
    margin-right: 0px;
}

.button-good { display: flex; }

.button-for-print {
    width: 240px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8F8F8;
    margin-right: 30px;
}

.button-for-print span {
    font-family: CeraPro-Regular;
    font-size: 17px;
    line-height: 24px;
    color: #2A2A2A;
}

.link-print {
    margin-left: 30px;
}

.content-good {
    margin-top: 40px;
    font-size: 15px;
    line-height: 23px;
    color: #666666;
    font-family: CeraPro-Regular;
    margin-bottom: 23px;
}

.video-good {
    position: relative;
    width: 240px;
    height: 162px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    pointer-events: none;
}

.video-good * {
    width: 100%;
    height: 100%;
}

.video-good::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 162px;
    background: rgba(40, 37, 69, 0.5);
    pointer-events: all;
}

.video-good::after {
    content: url(../images/video-play.png);
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    width: 30px;
    height: 30px;
    cursor: pointer;
    pointer-events: all;
}

.video-good.play::before {
    display: none;
}

.video-good.play::after {
    display: none;
}

.video-good.play {
    pointer-events: all;
}

.left-good .wrap-slider-good {
    position: relative;
    height: 360px;
    margin-bottom: 25px;
    width: 330px;
}

.left-good .slider-for .slick-slide {
    max-height: 360px;
    height: 100% !important;
}

.left-good .slick-slider.slider-nav {
    margin: 0 auto;
    width: 92%;
}

.left-good .slider-nav .slick-track {
    display: flex !important;
    justify-content: space-between !important;
    width: 100% !important;
}

.left-good .slider-nav .slick-list .slick-track img {
    height: 98px;
    margin: 0 15px;
}

.specification .row, .diplom-good .row {
    flex-direction: column;
    align-items: center;
}

.specification .row h2, .diplom-good .row h2 {
    font-size: 30px;
}

.diplom-good {
    margin-top: 80px;
}

.diplom-good .line-diploms {
    margin-top: 50px;
    margin-bottom: 50px;
}

.diplom-good .line-diploms a img {
    border: 11px solid gold;
    border-image-source: url(../images/diplom-frame.png);
    border-image-slice: 13;
    border-image-repeat: round;
    margin: 0 15px;
}

.specification {
    margin-top: 75px;
}

.table-specif {
    background: #244F93;
    position: relative;
    z-index: 5;
}

.table-specif table {
    margin: 50px auto 0;
}

.table-specif tr {
    width: 690px;
}

.table-specif td {
    height: 40px;
    font-size: 15px;
    color: #FFFFFF;
    font-family: CeraPro-Regular;
    border: 0.75px solid #ffffff;
}

.table-specif th {
    height: 40px;
    font-weight: 500;
    font-size: 17px;
    color: #FFFFFF;
    background: #09A2E6;
}

.table-specif td:first-child, .table-specif th:first-child {
    width: 510px;
    border-left: none;
}

.table-specif td:first-child {
    padding-left: 28px;
}

.table-specif th, .table-specif td:nth-child(2n) {
    text-align: center;
}

.table-specif td:nth-child(2n), .table-specif th:nth-child(2n) {
    width: 180px;
    border-right: none;
}

.table-specif tr:nth-child(2) td {
    border-top: none;
}

.table-specif tr:last-child td {
    border-bottom: none;
}

.table-specif th:first-child {
    border-right: 0.75px solid #ffffff;
}

.deception-block {
    height: 40px;
    background: #09A2E6;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.ac_results {
    width: 560px;
    height: 260px;
    position: absolute;
    top: 40px;
    right: 0;
    background: #FFFFFF;
    border: 1px solid #2A2A2A;
    z-index: 100;
    padding: 30px 20px 20px;
}

.button.all_results {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #09A2E6;
    border: none;
    height: 40px;
    width: 100%;
    font-size: 17px;
    font-family: CeraPro-Regular;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

.ac_results a {
    font-family: CeraPro-Regular;
    font-size: 17px;
    margin-bottom: 30px;
    display: block;
}

.ac_results a:hover {
    text-decoration: underline;
}

.page-search h1 {
    font-size: 30px;
}

.page-search .row {
    flex-direction: column;
    align-items: center;
}

.page-search form {
    margin: 50px 0 40px;
    width: 100%;
}

.page-search form input {
    width: 100%;
    height: 55px;
    border: 1px solid #09A2E6;
    font-size: 17px;
    font-family: CeraPro-Regular;
    padding-left: 30px;
    background: #F8F8F8;
    padding-right: 10px;
}

.page-search h3 {
    color: #2A2A2A;
    font-size: 17px;
    font-weight: 500;
}

.page-search .quality {
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    color: #2A2A2A;
    margin-bottom: 40px;
    margin-top: 25px;
}

.page-search .quality span {
    color: #09A2E6;
}

.search-list {
    width: 100%;
    margin-bottom: 40px;
}

.search-list li {
    display: flex;
    justify-content: space-between;
    width: 875px;
    margin-bottom: 40px;
}

.search-list li .photo-product {
    width: 145px;
}

.search-list li .photo-product img {
    width: inherit;
}

.search-list li .content-product {
    width: 704px;
}

.search-list li .content-product .title-product {
    color: #09A2E6;
    font-size: 17px;
    font-family: CeraPro-Regular;
    margin-bottom: 20px;
    display: block;
}

.search-list li .content-product .title-product:hover {
    text-decoration: underline;
}

.search-list li .content-product p {
    color: #2A2A2A;
    font-size: 17px;
    font-family: CeraPro-Regular;
    line-height: 23px;
    text-align: justify;
}

.form-popup {
    flex-direction: column;
    width: 417px;
    display: flex;
    margin: 30px auto 0;
}

form label {
    color: #FFFFFF;
    font-family: CeraPro-Regular;
    margin-top: 15px;
}

.title-form {
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
}

.mfp-close-btn-in .mfp-close {
    background-image: url('../images/popup-close.png');
    width: 24px;
    height: 24px;
    left: 64%;
    font-size: 0;
    top: 7px;
}

.add_file {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 16px;
    font-size: 13px;
    color: #ffffff !important;
    font-family: CeraPro-Regular;
    margin-bottom: 15px;
}

.add_file img {
    margin-right: 12px;
}

form input[type=checkbox] {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

form input[type=checkbox]:checked+label {
    background-image: url(../images/checked.png);
}

form input[type=checkbox]+label {
    line-height: 15px;
    background-image: url(../images/not-checked.png);
    background-repeat: no-repeat;
    background-position: center left;
    padding: 0 0 0 25px;
    margin: 0 0 5px 0;
    cursor: pointer;
    font-size: 13px;
    font-family: CeraPro-Regular;
}

form .checkbox label {
    color: #ffffff;
    font-size: 13px;
    font-family: CeraPro-Regular;
}

form .checkbox label a {
    text-decoration: underline;
}

form .checkbox label a:hover {
    text-decoration: none;
}

form .wrap-captcha {
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

form .input::-moz-placeholder { color: #2a2a2a; }
form .input::-webkit-input-placeholder { color: #2a2a2a; }

form .wrap-captcha input {
    padding-left: 10px;
    height: 50px;
}

form .send-form{
    width: 240px;
    height: 55px;
    background: #09A2E6;
    font-size: 17px;
    font-family: CeraPro-Regular;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

form input {
    height: 30px;
}

.news .read-more {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 30px;
}

.news .read-more a {
    font-size: 17px;
    color: #000000;
    border-bottom: 1.5px dashed #000000;
    padding-bottom: 6px;
    margin-bottom: 5px;
    float: right;
    transition: all 0.3s;
    display: block;
}

.news .read-more a:hover {
    border-bottom: 1.5px dashed transparent;
}

.mobile-links-catalog { display: none; }

.mobile-contacts-footer { display: none; }

.mobile-menu-button { display: none; }

.mobile-menu { display: none; }

.wrap-slider-good .slider-for .slick-prev, .wrap-slider-good .slider-for .slick-next { display: none !important; }

/*********** Media Style **********/
@media (min-width: 1920px) {
    body {
	    max-width: 1920px;
	    margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .container { max-width: 1050px; }
}

@media (max-width: 1200px) {
    .one-new .img-new { max-width: 100%; }
    .one-new .img-new img { max-width: 100%; }
    .map-block img { width: 100%; left: 0; }
    .diploms .wrap-slider .prevArrow { left: 32%; }
    .diploms .wrap-slider .nextArrow { left: auto; right: 32%; }
    .item-menu-3 { width: 209px; }
    .item-menu-4 { width: 130px; }
    .item-menu-5 { width: 162px; }
    .cat-group { width: 48%; }  
    .map-block { height: 489px; }
    .search-list li { width: 100%; }
    .search-list li .photo-product { width: 20%; }
    .search-list li .photo-product img { width: 90%; }
    .search-list li .content-product { width: 80%; }
    .one-image-production { width: 100%; height: auto; } 
    .one-video-production, .one-video-production::before { width: 300px; }
    .page-contacts .contacts { width: 60%; }
    .page-contacts .contacts .one-contact .name-contact { width: 40%; }
    .page-contacts .contacts .one-contact .content-contact { width: 60%; }
    .one-item-cat { width: 50%; }
    .left-good .wrap-slider-good { width: 100%; height: auto; }
    .slick-slide img { width: 100%; }
    .left-good .slider-nav .slick-list .slick-track img { height: auto; }
}

@media (max-width: 900px) {
    .email { display: none; }
    .logo { width: 213px; }
    .phone, .address { padding-left: 0; background-image: none; }
    .search, .search-field { height: 60px; }
    .search-button { top: 20px; }
    .search-field:focus + .search-button { left: -375px; }
    .search-field:focus { width: 480px; }
    .item-menu-1 .dropbtn, .item-menu-2 .dropbtn  { width: 100%; }
    .item-menu-1 { width: 125px; }
    .item-menu-2 { width: 143px; }
    .item-menu-3 { width: 195px; }
    .item-menu-4 { width: 100px; }
    .item-menu-5 { width: 100px; }
    .wrap-for-hover-1 button::after { right: 11px; left: auto; }
    .wrap-for-hover-2 button::after { right: 5px; left: auto; }
    .map-block { height: 300px; }
    footer .phone { padding-left: 10px; }
    footer .address-email { margin-left: 12px; }
    .diploms .wrap-slider { width: 80%; }
    .wrap-for-hover-2:hover .item-menu-2-content { left: 140px; }
    .left-good .slider-nav .slick-list .slick-track img { max-height: 60px; }
    .page-section-catalog .one-item-cat { width: 100%; }
    .mfp-close-btn-in .mfp-close { left: 72%; }
}


@media (max-width: 576px) {
    .container { width: 90%; margin: 0 5%; }
    .phone, .address, .search { display: none; }
    .banner-links, .photo-about { display: none; }
    .banner { background-image: url(../images/banner-mobile.jpg); height: 210px; }
    .banner::before, .menu { display: none; }
    .banner h1 { margin-top: 45px; font-size: 17px; line-height: 150.84%; }
    header { height: 80px; }
    .text-logo span:first-child { font-size: 12px; }
    .text-logo span:last-child { font-size: 8px; }
    .logo img { width: 50px; height: 50px; }
    .header-main-info { margin-top: 15px; }
    .number-item { font-size: 48px !important; }
    .catalog .number-item { font-size: 38px !important; }
    h1, h2 { font-size: 20px; }
    .catalog { margin-top: 45px; }
    .caption-underline { margin-top: 22px; }
    .content-cat-group-1, .content-cat-group-2 { display: none; }
    .title-catalog { display: none; }
    .mobile-links-catalog { display: flex; justify-content: space-between; width: 100%; margin: 10px 0 40px; }
    .mobile-links-catalog .cat-group img:first-child { opacity: 1; }
    .mobile-links-catalog .cat-group { width: 45%; height: 50px; }
    .cat-group .in-cat-item span { top: 8px; left: 8px; font-size: 8px; font-weight: 300; font-size: 8px; color: #FFFFFF; }
    .cat-group .in-cat-item p { top: 20px; left: 8px; font-size: 11px; font-weight: 500; color: #FFFFFF; }
    .cat-group:hover .in-cat-item span, .cat-group:hover .in-cat-item p { color: rgba(256, 256, 256, 1); }
    .about-company { background-image: none; padding-top: 45px; }
    .about-company .text-about p { font-size: 11px; }
    .about-company .content-about { margin-top: 10px; padding-bottom: 25px; }
    .about-company .text-about a.read-more { font-size: 14px; margin: 0 auto; display: block; float: none; width: max-content; text-align: center; }
    .about-company .text-about p:last-child { margin-bottom: 30px; }
    .geography { padding-top: 15px; padding-bottom: 20px; }
    .geography h2 { font-size: 20px; }
    .map-block { margin-top: 60px; height: auto; }
    .map-block img { width: 114%; left: -7%; }
    .cooperation { background: none ;margin-top: -68px; text-align: center; width: 100%; }
    .cooperation span:nth-child(1) { font-size: 18px; font-weight: 500; display: inline-block; }
    .cooperation span:nth-child(2) { font-size: 12px; font-weight: 500; color: #2A2A2A; display: inline-block; font-weight: 500; }
    .cooperation span:nth-child(3) { font-weight: 500; font-size: 14px; color: #2A2A2A; }
    .diploms .pagination-text, .diploms a.slick-center::after { display: none; }
    .diploms .wrap-slider { width: 100%; height: 100%; }
    .diploms a { height: 100px; }
    .diploms { height: 188px; margin-bottom: 45px; }
    .diploms a img { border: 6px solid gold; border-image-source: url(../images/diplom-frame.png); border-image-slice: 13; border-image-repeat: round;     width: 76px; } 
    .diploms .wrap-slider::after { display: none; } 
    .diploms .wrap-slider .prevArrow { width: 37px; height: 26px; background-size: cover; background-image: url(../images/prev-arrow-mob.png); top: 110px; }  
    .diploms .wrap-slider .nextArrow { width: 37px; height: 26px; background-size: cover; background-image: url(../images/next-arrow-mob.png); top: 110px; } 
    .three-news { width: 100%; }
    .one-new { width: 100%; margin-bottom: 20px; }
    .one-new .img-new { display: none; }
    .one-new .text-new { font-size: 11px; }
    .one-new .title-new { font-size: 14px; padding: 15px 20px 10px 20px; }
    .one-new .link-new { font-size: 14px; }
    .news .caption-underline { margin-bottom: 20px; }
    .news { background-image: none; padding-bottom: 35px; }
    .news .read-more { justify-content: center; font-size: 14px; }
    .one-new:last-child { display: none; }
    footer .logo { display: none; }
    footer .bottom-footer, footer .left-footer, footer .right-footer { display: none; }
    footer .middle-footer { width: 100%; }
    footer { padding: 40px 0 60px }
    footer .top-footer .middle-footer .footer-menu a { font-size: 14px; line-height: 1; margin-bottom: 20px; padding-left: 35px; }
    footer .top-footer .middle-footer .footer-menu { margin-left: 17%; }
    .mobile-contacts-footer { display: block; }
    .mobile-contacts-footer .address, .mobile-contacts-footer .email, .mobile-contacts-footer .phone { display: flex; }
    .mobile-contacts-footer .address { background-image: url(../images/place.png); background-repeat: no-repeat; background-position: 0 50%; font-size: 14px; }
    .mobile-contacts-footer .phone { background-image: url(../images/telephone.png); background-repeat: no-repeat; background-position: 0 50%; font-size: 17px; padding-left: 35px; margin-top: 20px; }
    .mobile-contacts-footer .email { font-size: 14px; }
    .mobile-contacts-footer { margin-left: 17%; }
    .page-doc .one-doc, .page-about .one-link { width: 100%; }
    .search-list li .photo-product { display: none; }
    .search-list li .content-product,.search-list li { width: 100%; }
    .department .worker { width: 100%; margin-bottom: 15px; }
    .department { margin-bottom: 15px; }
    .warranty-service p { padding: 0; }
    .page-geography .title-page {  font-size: 21px; }
    .map-gs { margin-top: 25px; }
    .address-contr, .page-contacts .contacts, .page-contacts .contacts .one-contact .content-contact, .page-contacts .contacts .one-contact .name-contact { width: 100%; }
    .page-new .left-new { flex-direction: column; }
    .page-new h1 { font-size: 29px;  margin-bottom: 21px; margin-top: 15px; line-height: 33px; }
    .page-new .button-back { margin-top: 20px; }
    .pic-new img { max-width: 100%; }
    .page-contacts .contacts .one-contact { width: 100%; flex-direction: column; align-items: flex-start; }
    .page-contacts .contacts { margin-bottom: 40px; }
    .form-popup { width: 100%; }
    .mfp-close-btn-in .mfp-close { left: auto;right: 0; }
    .title-form { margin-top: 30px; }
    .page-good .left-good, .page-good .right-good { width: 100%; }
    .left-good .wrap-slider-good { width: 100%; }
    .page-good h1 { margin-top: 20px; font-size: 24px; }
    .link-print { display: none; }
    .specification { margin-top: 20px; }
    .specification .row h2, .diplom-good .row h2 { font-size: 20px; }
    .table-specif table { margin: 19px auto 0; }
    .diplom-good { margin-top: 50px; }
    .diplom-good .line-diploms { margin-top: 15px; display: flex; flex-wrap: wrap; justify-content: space-between; }
    .diplom-good .line-diploms a { width: 45%; }
    .diplom-good .line-diploms a img { width: 100%; margin: 0 0 10px; }
    .left-good .slider-nav .slick-list .slick-track img { height: 80px; }
    .slick-slide img { width: 100%; }
    .left-good .wrap-slider-good { margin-bottom: 5px; }
    .page-section-catalog .title-catalog, .page-section-catalog .content-cat-group-1, .page-section-catalog .content-cat-group-2 { display: flex; }
    .page-section-catalog .one-item-cat { width: 100%; }
    .page-section-catalog .one-item-cat::before { display: none; }
    .page-section-catalog .one-item-cat span { width: 70%; padding-right: 0; font-size: 15px; }
    .page-section-catalog .one-item-cat .img-one-item-cat { width: 30%; }
    .page-section-catalog .one-item-cat:nth-last-child(-n+2)::after { display: block; }
    .page-section-catalog .cat-group { height: 90px; }
    .page-section-catalog .cat-group.active .in-cat-item span { top: 12px; left: 25px; font-size: 15px; }
    .page-section-catalog .cat-group.active .in-cat-item p { top: 36px; left: 25px; font-size: 18px;  }
    .page-section-catalog .title-catalog { margin-top: 10px; }
    .cat-group .in-cat-item hr { display: none; }
    .content-cat-group-1, .content-cat-group-2 { margin-top: 40px; }
    .one-video-production::before { display: none; }
    .page-doc h1 { font-size: 26px; }
    .news .read-more a { font-size: 14px; }
    footer { height: 430px; }
    .mobile-menu-button { display: block; position: absolute; top: 23px; right: 6%; }
    .mobile-menu { z-index: 10000; height: 394px; width: 78%; position: absolute; top: 15px; left: 5%; background-color: #F8F8F8; }
    .mobile-menu .search { display: block; }
    .top-mobile-menu { background-color: #F8F8F8; height: 204px; padding-top: 20px; padding-left: 25px; }
    .bottom-mobile-menu { background-color: #E6E6E6; height: 190px; padding-top: 15px; }
    .search-button { top: 0; }
    .search, .search-field { height: 25px; width: 200px; background-color: #F8F8F8; font-weight: 500; font-size: 15px; }
    .mobile-menu .search { display: block; width: 200px; height: 30px; } 
    .mobile-menu .search-field:focus { width: 200px; padding-left: 31px; position: relative; }
    .search-field:focus + .search-button { left: 0; }
    .ac_results { width: 100%; padding: 13px 8px 13px; }
    .button.all_results { font-size: 14px; }
    .ac_results a { font-size: 15px; }
    .item-menu-mobile { display: flex; flex-direction: column; margin-top: 10px; }
    .item-menu-mobile a { color: #000000; font-weight: 500; font-size: 13px; margin-bottom: 15px; }
    .mobile-menu .phone, .mobile-menu .address, .mobile-menu .email { display: flex; height: auto; background-image: none; padding-left: 25px; }
    .mobile-menu .phone span, .mobile-menu .address span, .mobile-menu .email span { font-size: 15px; font-family: CeraPro-Medium;  }
    .mobile-menu .phone { margin-bottom: 20px; }
    .mobile-menu .phone span:first-child, .mobile-menu .address span:first-child { margin-bottom: 13px; }
    .mobile-menu .address { margin-bottom: 20px; }
    .mobile-menu .address span { line-height: 1; }
}

@media (max-width: 360px) 
} 
/************ END Media Style ******/