@charset "UTF-8";
@font-face { font-family: Exo2Regular; 
       src: url("fonts/Exo2Regular.eot"); 
       src: url("fonts/Exo2Regular.eot?#iefix")format("embedded-opentype"), 
            url("fonts/Exo2Regular.woff")format("woff"), 
          url("fonts/Exo2Regular.ttf") format("truetype"); }
@font-face { font-family: Exo2Bold; 
       src: url("fonts/Exo2Bold.eot"); 
       src: url("fonts/Exo2Bold.eot?#iefix")format("embedded-opentype"), 
            url("fonts/Exo2Bold.woff")format("woff"), 
          url("fonts/Exo2Bold.ttf") format("truetype"); }
@font-face { font-family: Exo2Medium; 
       src: url("fonts/Exo2Medium.eot"); 
       src: url("fonts/Exo2Medium.eot?#iefix")format("embedded-opentype"), 
            url("fonts/Exo2Medium.woff")format("woff"), 
          url("fonts/Exo2Medium.ttf") format("truetype"); }
@font-face { font-family: Exo2Light; 
       src: url("fonts/Exo2Light.eot"); 
       src: url("fonts/Exo2Light.eot?#iefix")format("embedded-opentype"), 
            url("fonts/Exo2Light.woff")format("woff"), 
          url("fonts/Exo2Light.ttf") format("truetype"); }
@font-face { font-family: HelveticaNeueCyr-Medium; 
       src: url("fonts/HelveticaNeueCyr-Medium.eot"); 
       src: url("fonts/HelveticaNeueCyr-Medium.eot?#iefix")format("embedded-opentype"), 
            url("fonts/HelveticaNeueCyr-Medium.woff")format("woff"), 
          url("fonts/HelveticaNeueCyr-Medium.ttf") format("truetype"); }

.body{
  overflow-x: hidden !important;
}

.text-unisize {
  font-family: Exo2Regular;
  font-size: 16px;
}
.color- {
  &black {
    color: #393939;
  }
  &grey {
    color: #666666;
  }
  &white {
    color: #ffffff;
  }
  &blue {
    color: #0e7aff;
  }
  &darkblue {
    color: #1e3162;
  }
}

.button-more-info {
    font-family: Exo2Regular;
    font-size: 16px;
    color: #393939;
    border: 2px solid #0e7aff;
    width: 160px;
    border-radius: 50px;
    height: 50px;
    padding-top: 10px;
    text-align: center;
    cursor: pointer;
    position: relative;
    &:hover {
      border: 2px solid #ffffff;
      transition: 0.5s;
    }
    &::after {
      content: "";
      width: 48px;
      height: 2px;
      color: #0e7aff;
      border: 1px solid #0e7aff;
      position: absolute;
      width: 48px;
      left: 131px;
      top: 23px;
    }
}

.black-button {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: Exo2Regular;
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
  width: 43%;
  background-color: #393939;
  height: 100px;
  padding: 35px 0 23px 100px;
  cursor: pointer;
  letter-spacing: 2px;
  img {
    position: absolute;
    top: 45px;
    left: 414px;

  }
}

a { 
  color: inherit; 
  text-decoration: none; 
  
  &:hover {
    text-decoration: none;
  }
}

h1 { 
  font-family: Exo2Bold; 
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
h2 { 
  font-family: Exo2Regular; 
  font-size:  36px;
  letter-spacing: 5px;
}
h3 { 
  font-family: Exo2Regular; 
  font-size:  24px;
}
h4 { 
  font-family: Exo2Regular; 
  font-size:  16px;
}

header { 
  height: 100px;
  .container {
    height: inherit;
    .row {
      height: inherit;
      ul {
        list-style-type: none;
        padding-left: 0;
        padding-top: 20px;
        margin-bottom: 0;
        text-align: right;
        li {
          display: inline-block;
          padding-right: 50px;
          cursor: pointer;
          &:last-child{
            padding-right: 0;
          }
          a {
            padding-top: 10px;
          }
          a::after {
            content: url('images/icon-menu.png');
            position: relative;
            left: 5px;
            bottom: 2px;
          };
          &:last-child a::after {
            content: "";
          }
          a:hover {
            border-top: 2px solid #0e7aff;
            transition: 0.2s;
            padding-bottom: 2px;
          }
        }
      }
    }
  }
}

section.info-block {
  position: relative;
  width: 100%;
  height: 980px;
  background-image: url('images/skyscraper.png');
  h1 {
    padding-top: 187px;
    padding-bottom: 100px;
    width: 100%;
  }
  .square {
    border: 1px solid #ffffff;
    font-family: Exo2Medium;
    width: 160px;
    height: 160px;
    padding-left: 15px;
    padding-top: 35px;
    margin: 160px 30px 40px 14px;
    position: relative;
    &::before {
    content: "";
    display: block;
    position: absolute;
    top: 13px;
    left: -15px;
    border: 2px solid #0e7aff;
    width: 160px;
    min-height: 100%;
    }
    img {
      padding-bottom: 23px;
    }
    p {
      font-size: 16px;
      span {
        font-family: Exo2Light;
      }
    }
  }
}

section.clients {
  h2 {
    padding: 115px 0 75px 0;
  }
  .list-1 {
    height: 560px;
    img {
      position: absolute;
      left: 0;
      width: 44.15%;
    }
    ul {
      padding-top: 83px;
      ol {
        padding: 0 0 40px 0;
        position: relative;
        h3::after {
          content: url('images/icon-cityscape.png');
          position: absolute;
          top: -18px;
          right: 145px;
        }
      }
      li {
        list-style-type: none;
        font-size: 18px;
        font-family: Exo2Regular;
        color: #666666;
        padding-left: 40px;
        padding-bottom: 18px;
        position: relative;
        &::before {
          content: "";
          width: 20px;
          border: 1px solid #0e7aff;
          position: absolute;
          top: 14px;
          left: 0px;
        }
      }
    }
    .button-more-info {
      margin-top: 25px;
      margin-left: 30px;
      &:hover {
      border: 2px solid #0e7aff;
      transition: 0.5s;
      } 
    }
  }

  .list-2 {
    height: 560px;
    img {
      position: absolute;
      right: 0;
      width: 44.15%;
    }
    ul {
      padding-top: 83px;
      padding-left: 0;
      ol {
        padding: 0 0 40px 0;
        position: relative;
        h3::before {
          content: url('images/icon-skyscaper.png');
          position: absolute;
          top: -18px;
          left: -84px;
        }
      }
      li {
        list-style-type: none;
        font-size: 18px;
        font-family: Exo2Regular;
        color: #666666;
        padding-left: 40px;
        padding-bottom: 18px;
        position: relative;
        &::before {
        content: "";
        width: 20px;
        border: 1px solid #0e7aff;
        position: absolute;
        top: 14px;
        left: 0px;
        }
      }
    }
    .button-more-info {
      margin-top: 25px;
      margin-left: 30px;
      &:hover {
      border: 2px solid #0e7aff;
      transition: 0.5s;
      }     
    }
  }
}

section.types {
  overflow: hidden;
  h2 {
    padding: 100px 0 80px 0;
    span {
      color: #0e7aff;
    }
  }
  /*.row.row-types {
    width: 100vw;
  }*/
  .type {
    position: relative;
    padding: 140px 60px 0 100px;
    height: 440px;
    background-color: #eeeeee;
    margin-bottom: 200px;
    p {
      padding-top: 40px;
    }
    span {
    position: absolute;
    font-size: 108px;
    color: #d0d0d0;
    top: 9px;
    right: 48px;
    }
    &:hover {
      cursor: pointer;
      background-image: url('images/types-hover.png');
      transform: scale(1.05);
      transition: all 1s;
      z-index: 10;
      box-shadow: 0 5px 10px rgba(0,0,0,0.3);
      background-size: 100% 100%;
      p, span, h3 {
        color: #ffffff;
      }
    }
  }
}

section.company {
  position: relative;
  background-color: #eeeeee;
  margin-bottom: 405px;
  h2 {
    padding: 65px 0 50px 0;
  }
  img.aboutcompany-photo-1 {
    position: absolute;
    right: 0;
    top: -80px;
    width: 41%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2); 
  }
  .row.row-1 {
    h3 {
      padding-bottom: 50px;
      span {
        font-family: HelveticaNeueCyr-Medium; 
      }
    }
    p {
      padding-bottom: 165px;
    }
  }
  .row.row-2 {
    .black-button {
      left: 0;
    }
    img.aboutcompany-photo-2 {
      top: -100px;
      position: absolute;
      box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    }
  }
}

section.news {
  font-family: Exo2Regular;
  .row.row-1 {
    padding-bottom: 65px;
    position: relative;
    .button-more-info {
      position: absolute;
      right: 21px;
      &:hover {
      border: 2px solid #0e7aff;
      }
    } 
  }
  .row.row-2{
    justify-content: space-between;
    .new {
      cursor: pointer;
      max-width: 360px;
      padding: 0 0 70px 0;
      img {
        padding-bottom: 40px;
      }
      span {
        padding-bottom: 30px;
        display: block;
        font-size: 16px;
        color: #0e7aff;
      }
      .img-new {
        position: relative;
      }
      .black-button {
        display: none;
      }
      &:hover .img-new {
        transform: scale(1.17);
        transition: 0.5s;
        .black-button {
          display: block;
          position: absolute;
          top: 0;
          width: 100%;
          height: 25%;
          padding: 13px 0 20px 29px;
          img {
            top: 40%;
            left: 47%
          }
        }
      }
    }
  }
}

section.contacts {
  background-image: url("images/map.png");
  height: 720px;
  .contact-info {
    background-color: #ffffff;
    height: 380px;
    margin-top: 160px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    padding: 50px 100px 30px 60px;
    h2 {
      margin-bottom: 35px;
    }
    li {
      list-style-type: none;
      font-size: 18px;
      font-family: Exo2Regular;
      padding-bottom: 20px;
      position: relative;
      &.li {
        &-1::before {
          content: url('images/small-icon-1.png');
          position: absolute;
          left: -37px;
          top: 2px;
        }
        &-2::before {
          content: url('images/small-icon-2.png');
          position: absolute;
          left: -37px;
          top: 2px;
        }
        &-3::before {
          content: url('images/small-icon-3.png');
          position: absolute;
          left: -37px;
          top: 2px;
        }
        &-4::before {
          content: url('images/small-icon-4.png');
          position: absolute;
          left: -37px;
          top: 2px;
        }
      }
    }
  }
}

footer {
  padding-top: 35px;
  font-family: Exo2Regular;
  .input {
    position: relative;
    input[type="text"] {
      border-radius: 24px;
      border-color: #e6e6e6;
      border-width: 1px;
      background-color: #f9f9f9;
      color: #707070;
      padding: 12px 18px 13px 60px;
      outline: none;
      font-size: 14px;
      width: 200px;
      border-style: solid;
    }
    input[type="image"] {
      top: 4px;
      width: 16px;
      height: 14px;
      position: absolute;
      background-color: #0e7aff;
      border-radius: 50%;
      padding: 13px;
      box-sizing: content-box;
      left: 6px;
      box-shadow: 0 5px 10px rgba(14,122,255,0.2);
      outline: none;
    }
  }
  p.phone {
    padding-left: 60px;
    padding-top: 20px;
  }
  p.sub {
    padding-left: 60px;
  }
  ul {
    padding: 0;
    cursor: pointer;
    ol {
      padding: 0 0 20px 0;
      &:hover {
        color: #0e7aff;
      }
    }
    li {
      list-style-type: none;
      font-size: 14px;
      padding-bottom: 5px;
      color: #707070;
      &:hover {
        color: #393939;
      }
    }
  }
}

@media (min-width: 1920px) {
  body {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
  }
}

@media (max-width: 1200px) {
  .black-button {
    img {
      left: 87%;
    }
  }

  section.clients {
    .list-1 {
      ul ol h3 {
        &::after {
          right: 65px;
        }
      }
    }
  }

  section.types {
    .row.row-types {
      width: 100vw;
      margin: 0;
      .type {
        padding: 57px 60px 0px 86px;
        span {
          display: none;
        }
        &:hover {
          background-image: none;
          transform: none;
          box-shadow: none;
          p, h3 {
            color: #666666;
          }
          span {
            display: none;
          }
        }
      }
    }
  }

  section.company {
    .row.row-2 {
      img.aboutcompany-photo-2 {
        width: 85%;
      }
    }
  }

  section.news {
    .row.row-2 {
      justify-content: space-around;
    }
  }

  section.contacts {
    .contact-info {
      padding: 30px 100px 30px 49px;
    }
  }
}

@media (max-width: 768px){
  header {
    height: 150px;
    img {
      width: 100%;
    }
    .container {
      .row {
        ul {
          padding: 0 0 0 35px;
          margin-bottom: 0;
          text-align: left;
          li {
            padding-right: 20px;
          }
        }
      }
    }
    
  }
  section.info-block {
    height: 700px;
    h1 {
      padding-top: 10px;
      padding-bottom: 10px;
      width: 100%;
    }
    .button-more-info {
      padding-top: 10px;
      text-align: center;
      margin: 30px auto;
    }
    .square {
      width: 100px;
      height: 200px;
      padding-top: 35px;
      padding-left: 0;
      margin: 10px auto;
      text-align: center;
      &::before {
        display: none;
      }
    }
    .black-button {
      width: 100%;
      height: 80px;
      padding: 20px 0 0 0;
      text-align: center;
      img {
        display: none;
      }
    }
  }

  section.clients {
    .list-1 {
      position: relative;
      height: inherit;
      ul {
        padding-top: 0;
        h3::after {
          left: -75px;
        }
        li {
          padding-bottom: 7px;
        }
      }
      img {
        width: 40%;
      }
    }
    .list-2 {
      position: relative;
      padding-top: 40px;
      height: inherit;
      ul {
        padding-top: 0;
        li {
          padding-bottom: 7px;
        }
      }
      img {
        width: 40%;
      }
    }
  }

  section.types {
    h2 {
      padding: 60px 0 30px 0;
    }
    .row.row-types .type {
      padding: 35px 20px 0px 35px;
      height: 420px;
      margin-bottom: 130px;
    }
  }

  section.company {
    margin-bottom: 50px;
    .row.row-2 {
      .black-button {
        width: 100%;
      }
      img.aboutcompany-photo-2 {
        display: none;
      }
    }
  }

  section.news {
    .row.row-1 {
      padding-bottom: 40px;
    }
    .row.row-2 .new {
      padding-bottom: 40px;
      &:hover .img-new {
        transform: none;
        .black-button {
          display: none;
        }
      }
      .img-new {
        img {
          width: 95%;
          padding-bottom: 25px;
        }
      }
      span {
        padding-bottom: 5px;
      }
    }
  }

  section.contacts {
    .contact-info {
      padding: 22px 23px 30px 38px;
    }
  }

}

@media (max-width: 576px){
  h1 { 
   font-size: 32px; 
 }
  header .container .row ul { 
    padding: 0 0 0 39px; 
    li {
      padding-right: 40px;
      a:hover {
        border-top: none;
        padding-bottom: 0;
      }
    }
  }

  section.info-block .square {
    width: 95px;
    p {
    font-size: 14px;
   }
  }

  section.clients {
    h2 {
      padding: 50px 0 30px 0;
    }
    .list-1 {
      ul {
        padding-left: 0;
        ol h3::after {
        content: "";
        }
      }
      img {
        display: none;
      }
    }
    .list-2 {
      ul ol h3::before {
        content: "";
      }
      img {
        display: none;
      }
    }
  }

  section.types {
    .row.row-types .type {
      margin-bottom: 20px;
      height: 300px;
      p {
        padding-top: 5px;
      }
    }
  }

  section.company {
    .row.row-2 {
      .black-button {
        padding: 35px 0 23px 55px;
        img {
          display: none;
        }
      }
      img.aboutcompany-photo-2 {
        display: none;
      }
    }
  }

  section.news {
    .row.row-2 .new {
      padding-bottom: 40px;
      .img-new {
        img {
          width: 100%;
        }
      }
    }
  }

  section.contacts {
    .background-image: none;
    height: inherit;
    .contact-info {
      box-shadow: 0 0px 10px rgba(0, 0, 6, 0.2);
      margin-top: 0;
    }
  }

  footer {
    .input {
      padding-bottom: 25px;
      input[type="text"] {
        width: 100%;
      }
    }
  }

}

@media (max-width: 360px){
  header .container .row ul li {
      padding-right: 25px;
    }
  section.info-block h1 {
    letter-spacing: 1px;
  }
  section.company img.aboutcompany-photo-1 {
    display: none;
  }
  section.company .row.row-2 .black-button {
    padding: 30px 0 25px 30px;
  }
  section.news .row.row-1 {
  	padding-bottom: 100px;
  }
  section.news .row.row-1 .button-more-info {
    left: 81px;
    top: 113px;
  }
}